extends ./_layout.jade

block title
  title helloworld

block content
  section
    div#text
      ul
        if devs.blog
          li Blog:&nbsp;
            a(href=devs.blog)= devs.blog
        if devs.email
          li Email:&nbsp;
            a(href='mailto:' + devs.email)= devs.email
        li= devs.ville
        if devs.disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs.githubSince}

        if devs.orgs.length
          li Organisations: #{devs.orgs.join(', ')}

        if devs.bigProjects.length
          li Big projects: #{devs.bigProjects.join(', ')}

        if devs.popProjects.length
          li Popular projects: #{devs.popProjects.join(', ')}

        li.gray Participent aux groupes: Python, Ruby (login to edit)

      #vega-lite

    div#photo
      img(src=devs.photo)
      h1= devs.name + ' '
        small: a(href='https://github.com/' + devs.login) (github/#{devs.login})

  footer
    p Until à la prochaine :-)
