extends ./_layout.jade

block title
  title helloworld

block content
  section
    div#text
      ul
        if devs.blog
          li Blog:&nbsp;
            a(href=devs.blog)= devs.blog
        if devs.email
          li Email:&nbsp;
            a(href='mailto:' + devs.email)= devs.email
        li= devs.ville
        if devs.disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs.githubSince}

        li Organisations: ...

        li Big projects: ...

        li Popular projects: ...

        li.gray Participent aux groupes: Python, Ruby (login to edit)

      if devs.repos && devs.repos.length
        #vega-lite2
        #vega-lite4

    div#photo
      img(src='https://avatars3.githubusercontent.com/u/' + devs.id + '?v=3&s=460')
      h1= (devs.name||'') + ' '
        small: a(href='https://github.com/' + devs.login) (github/#{devs.login})

      if devs.events && devs.events.length
        #vega-lite
      //- #vega-lite3

  footer
    p Until à la prochaine :-)
