extends ./_layout.jade

block title
  title helloworld

block content
  section
    div#text
      blockquote= devs[0].bio

      ul
        if devs[0].blog
          li Blog:&nbsp;
            a(href=devs[0].blog)= devs[0].blog
        if devs[0].email
          li Email:&nbsp;
            a(href='mailto:' + devs[0].email)= devs[0].email
        li= devs[0].ville
        if devs[0].disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs[0].githubSince}

        if devs[0].orgs.length
          li Organisations: #{devs[0].orgs.join(', ')}

        if devs[0].bigProjects.length
          li Big projects: #{devs[0].bigProjects.join(', ')}

        if devs[0].popProjects.length
          li Popular projects: #{devs[0].popProjects.join(', ')}

    div#photo
      img(src=devs[0].photo)
      h1= devs[0].name + ' '
        small: a(href='https://github.com/' + devs[0].username) (github/#{devs[0].username})

  section
    div#timelines
      h2 Timelines
      ul
        each tl in devs[0].timelines
          li= tl

    div#barcharts
      h2 Barcharts
      ul
        each bc in devs[0].barcharts
          li= bc

  footer
    p Until à la prochaine :-)
