extends ./_layout.jade

block title
  title helloworld

block content
  section
    div#text
      // blockquote= devs.bio

      ul
        if devs.blog
          li Blog:&nbsp;
            a(href=devs.blog)= devs.blog
        if devs.email
          li Email:&nbsp;
            a(href='mailto:' + devs.email)= devs.email
        li= devs.ville
        if devs.disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs.githubSince}

        if devs.orgs.length
          li Organisations: #{devs.orgs.join(', ')}

        if devs.bigProjects.length
          li Big projects: #{devs.bigProjects.join(', ')}

        if devs.popProjects.length
          li Popular projects: #{devs.popProjects.join(', ')}

        li.gray Participent aux groupes: Python, Ruby (login to edit)

    div#photo
      img(src=devs.photo)
      h1= devs.name + ' '
        small: a(href='https://github.com/' + devs.login) (github/#{devs.login})

  section#charts
    div
      // h2 Timelines
      #network
      #stars
      #vega-lite

    div
      // h2 Barcharts
      each bc in devs.barcharts
        div.bc
          h3= bc.title
          // p= bc.description
          if bc.data && bc.data.length
            ul.bar(class=bc.name)
              each bar in bc.data
                li
                  span= bar.label
                  small(style={width: 0.7 * (bar.value / (bc.max / 100)) + '%'})= bar.value

  footer
    p Until à la prochaine :-)

  script(type='text/javascript').
    var data1 = !{JSON.stringify(tl0)}
    // var data2 = !{JSON.stringify(tl1)}
