extends ./_layout.jade

block title
  title helloworld

block content
  section
    div#text
      blockquote= devs[0].bio

      ul
        if devs[0].blog
          li Blog:&nbsp;
            a(href=devs[0].blog)= devs[0].blog
        if devs[0].email
          li Email:&nbsp;
            a(href='mailto:' + devs[0].email)= devs[0].email
        li= devs[0].ville
        if devs[0].disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs[0].githubSince}

        if devs[0].orgs.length
          li Organisations: #{devs[0].orgs.join(', ')}

        if devs[0].bigProjects.length
          li Big projects: #{devs[0].bigProjects.join(', ')}

        if devs[0].popProjects.length
          li Popular projects: #{devs[0].popProjects.join(', ')}

    div#photo
      img(src=devs[0].photo)
      h1= devs[0].name + ' '
        small: a(href='https://github.com/' + devs[0].username) (github/#{devs[0].username})

  section#charts
    div
      // h2 Timelines
      #network
      #stars
      div: ul
        each tl in devs[0].timelines2
          li= tl

    div
      // h2 Barcharts
      each bc in devs[0].barcharts
        h3= bc.title
        // p= bc.description
        if bc.data && bc.data.length
          ul.bar(class=bc.name)
            each bar in bc.data
              li
                span= bar.label
                small(style={width: 0.8 * (bar.value / (bc.max / 100)) + '%'})= bar.value

  footer
    p Until à la prochaine :-)

  script(type='text/javascript').
    var data1 = !{JSON.stringify(tl0)}
