extends ./_layout.jade

block title
  title helloworld

block content
  h1= devs[0].name + ' '
    small: a(href='https://github.com/' + devs[0].username) (github/#{devs[0].username})

  section
    div#text
      blockquote= devs[0].bio

      ul
        if devs[0].blog
          li Blog:&nbsp;
            a(href=devs[0].blog)= devs[0].blog
        if devs[0].email
          li Email:&nbsp;
            a(href='mailto:' + devs[0].email)= devs[0].email
        li= devs[0].ville
        if devs[0].disponible
          li Disponible, contactez le!
        li Sur GitHub depuis #{devs[0].githubSince}

      if devs[0].orgs.length
        h2 Organisations
        ul
          each org in devs[0].orgs
            li= org

      if devs[0].bigProjects.length
        h2 Big projects
        ul
          each bp in devs[0].bigProjects
            li= bp

      if devs[0].popProjects.length
        h2 Popular projects
        ul
          each pp in devs[0].popProjects
            li= pp

    div#charts
      img(src=devs[0].photo)

      h2 Timelines
      ul
        each tl in devs[0].timelines
          li= tl

      h2 Barcharts
      ul
        each bc in devs[0].barcharts
          li= bc

  footer
    p Until à la prochaine :-)
