extends ../_layout.jade

block title
  title= title

block content
  section
    div
      h1= title
      p= message

  section
    div
      h2= h2

      pre= pre

  section
    div#text
      #vega-lite
      #vega-lite2
      #vega-lite3
      #vega-lite4

  footer
    p Until à la prochaine :-)
